import { safeHtml } from 'common-tags';

export default safeHtml`<li class="person list-group-item">
    <img data-hook="avatar" width="40" height="40" />
    <a data-hook="name"></a>
    <span class="btn-group pull-right">
        <a data-internal-link data-hook="action-edit" class="btn btn-default">edit </a>
        <a data-internal-link data-hook="action-delete" class="btn btn-danger">delete</a>
    </span>
</li>`;
